<header class="task-header">
  <!-- LEFT -->
  <div class="task-header__left">
    <!-- <span class="logo">TaskFlow</span> -->
    <!-- BRAND -->
    <a routerLink="/" class="nav__brand logo"> Angular </a>
  </div>

  <!-- CENTER -->
  <div class="task-header__center">
    <div class="search">
      <mat-icon>search</mat-icon>
      <input type="search" placeholder="Search tasks..." />
    </div>
  </div>

  <!-- RIGHT -->
  <div class="task-header__right">
    <button class="icon-btn">
      <mat-icon>notifications</mat-icon>
    </button>

    <button class="icon-btn">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</header>
